page-login {
  text-align: center;

  .home {
    background: url('../assets/home/backgroud.jpg') fixed center no-repeat;
    background-size: cover;
  }

  .logo {
    padding: 10%;
    padding-top: 20%;
    max-width: 82%;
  }

  .welcome-text {
    color: white;
    font-weight: bold;
    font-size: 8vw;
    text-align: center;
    padding-top: 2%;
  }

  .login{
    background: url("../assets/home/login.png") center no-repeat;
    background-size: contain;
    width: 85%;
    height: 8%;
    min-height: 60px;
    min-width: 274px;
    margin-top: 30%;
    box-shadow: none !important;
  }
}
