<ion-header>

  <ion-navbar color="green-color">
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'VIEW_PHOTOS' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color='white' (click)='addPhoto()' style="font-size: 2rem;">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="photos">
    <div *ngFor="let photo of photos">
      <div class="photo-wrap" *ngIf="photo.status == 'approved' || photo.is_mine">
        <div class="photo">
          <img [src]="photo.url">
          <div [ngClass]="['status', photo.status]" *ngIf="photo.is_mine">{{ photo.status }}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
