<ion-header>
  <ion-navbar color="green-color">
    <ion-title>{{'YOUR_BADGES' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='goToBadgeInfo()'>
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="md-title text-center">{{'BADGE_COLLECTION' | translate}}</h3>

  <section class='badges'>
    <div *ngFor="let badge of badges" class='badge'>
      <div class="badge-layer" *ngIf='!badge.active'></div>
      <img [src]='badge.icon'>
    </div>
  </section>
</ion-content>
