page-flash {
  .scroll-content {
    background-color: #39B54A;
  }

  .small {
    width: 60%;
  }

  .logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

}
