page-thanks-pop-over {

  .card-popover {
    margin-bottom: 1%;
    border-radius: 7%;
  }

  .card-popover img{
    width: 15%;
    height: 15%;
  }

  .item {
    background-color: rgba(58, 182, 74, 0.65);
  }

  .item-inner{
    margin-left: -120%;
    font-size: 3vw;
    color: white;
    font-weight: bold;
  }
}

.thanks-popover .popover-content {
  background-color: transparent;
  box-shadow: none;
  width: 60%;
  left: 20% !important;
  top: 35% !important;
}
