$popover-width: 280px;

page-thanks-pop-over {
  .card-popover {
    margin-bottom: 1%;
    border-radius: 7%;
  }

  .item {
    background-color: rgba(58, 182, 74, 0.65);
  }

  .item-inner{
    color: white;
  }

}


.thanks-popover .popover-content {
  background-color: transparent;
  box-shadow: none;
  width: $popover-width;
}
