// Typography

.md-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em;
}

.md-subhead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .01em;
}

.md-body-1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: .01em;
}

.md-body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 24px;
}

.md-caption {
  font-size: 12px;
  letter-spacing: .02em;
}
