.ios, .md {
  page-intro {
    ion-slide {
      background-color: #fff;
    }

    ion-slide {
      .content {
        height: 100vh !important;
        position: relative;
      }

      .btn-skip {
        position: absolute;
        right: 4px;
        top: 4px;
        z-index: 1;
        background: none;
        box-shadow: none;
        font-weight: 500;
        &:hover:not(.disable-hover) {
          background: none;
        }
      }

      .img-wrapper {
        background: #10A225;
        height: 55vh !important;
        position: relative;
        display: table;
        width: 100% !important;

        > .cell {
          display: table-cell;
          vertical-align: bottom;
        }

        > .cell.logo {
          vertical-align: middle;
        }

        img.small {
          width: 170px;
        }

        .welcome {
          margin: 40px 0;
          text-transform: uppercase;
          color: #fff;
          font-weight: 500;
        }
      }

      .text {
        height: 45vh !important;
        padding: 24px;
        font-size: 1.4rem;
        color: #333;
        // line-height: 1.5em;
      }

      .pin-text {
        .item-inner {
          border: none;
        }

        ion-label {
          white-space: normal;
        }

        .item-md {
          padding-left: 0;
        }


        ion-label {
          margin: 2px 0;
        }
      }

      p {
        color: #333;
        line-height: 1.5em;
        font-size: 14px;
      }
    }

    h4 {
      margin-top: 0;
      font-size: 16px;
      font-weight: bold;
    }

    .swiper-pagination-bullet-active {
      background: #10A225;
    }
  }
}
