page-events {
  .event-image {
    height: 20rem !important;
    margin: 0 auto;
  }

  .wrapper-image {
    height: 20rem !important;
    background-color: #6e6e6e;
    display: table-cell;
    vertical-align: middle;
  }

  .default-image {
    width: 50%;
    margin: 0 auto;
  }

  button.share{
    float: right;
    margin-top: -10%;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .month {
    text-transform: uppercase;
    color: #3AB54A;
    font-weight: bold;
  }

  .day {
    font-size: 8vw;
  }
}
