<ion-header>

  <ion-navbar color='green-color'>
    <ion-title>{{'EVENTS' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-card *ngFor="let event of events" (click)='showDetail(event, $event)'>

      <div class="wrapper-image" >
        <img *ngIf="event.image" class='event-image' [src]="url + event.image">
        <img *ngIf="!event.image" class='default-image' src="assets/event/default_img.png">
      </div>

      <button (click)='share(event, $event)' ion-button round icon-right icon-only
              class='share'>
        <ion-icon name="share" color='light-black'></ion-icon>
      </button>

      <ion-item style='margin-bottom: 5%;'>
        <div item-left style='margin-right: 10%;'>
          <span class='month'>{{event.date | date: 'MMM'}}</span><br>
          <span class='day'>{{event.date | date: 'dd'}}</span>
        </div>

        <h2>{{event.title}}</h2>
        <p>{{event.location}}</p>
      </ion-item>

    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="green-color" (click)='goToForm()'>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
