<ion-header>

  <ion-navbar color='green-color'>
    <ion-title>{{'FAQ' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list class='accordion-list'>

    <ion-item *ngFor='let question of questions; let i=index' text-wrap (click)='toggleGroup(i)' [ngClass]='{active: isGroupShown(i)}'>
      <h3>
        {{ question.title | translate }}
        <ion-icon color="success" class='my-icon' item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h3>

      <p *ngIf='isGroupShown(i)' [innerHTML]='question.answer' class='text-justify'></p>
    </ion-item>

  </ion-list>

</ion-content>
